@import "tailwindcss";

@theme {
  /* Font Families */
  --font-title: "stolzl", sans-serif;
  --font-body: "polymath", sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 400px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 905px;
  --breakpoint-lg: 1240px;
  --breakpoint-xl: 1440px;

  /* Colours */
  --color-midnight: #0f002e;
  --color-teal: #006075;
  --color-teal-md: #009daa;
  --color-teal-muted: #63b2b9;
  --color-teal-drk: #006075;
  --color-aqua: #97e1e5;
  --color-lavendar: #c0a2ff;
  --color-purple-drk: #1e0073;
  --color-purple-lt: #caccf8;
  --color-red: #d70449;
  --color-wine: #940050;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-navy-blue: #09264b;
  --color-primary: var(--color-red);
  --color-secondary: var(--color-purple-drk);

  /* Font Size */
  --text-base: 1.25rem;
  --text-h1: 5.375rem;
  --text-h2: 2.875rem;
  --text-h3: 1.875rem;
  --text-h4: 1.625rem;
  --text-label: 1.375rem;
  --text-bodyLarge: 1.375rem;
  --text-tagline: 1.875rem;
  --text-sm: 1rem;
  --text-button: 1.125rem;

  /* Font Weight */
  --font-weight-normal: 300;
  --font-weight-light: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extraBold: 700;
}

/* Base */
body {
  font-family: var(--font-body);
  color: var(--color-white);
  background-color: var(--color-midnight);
  font-size: var(--text-base);
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}
h1 {
  font-size: var(--text-h1);
}
h2 {
  font-size: var(--text-h2);
  font-weight: var(--font-weight-extraBold);
}
h3 {
  font-size: var(--text-h3);
}
h4 {
  font-size: var(--text-h4);
  font-weight: var(--font-weight-bold);
}
ul,
ol {
  display: block;
  list-style: disc outside none;
  margin: 1em 0;
  padding: 0 0 0 40px;
  text-align: start;
}
ol {
  list-style-type: decimal;
  text-align: start;
}

/* Components */

.btn {
  border-radius: 1.875em;
  border: 3px solid transparent;
  padding: 10px 10px 12px 10px;
  font-size: var(--text-button);
}

.btn-primary {
  border-radius: 1.875em;
  border: 3px solid transparent;
  padding: 10px 34px 12px 34px;
  font-size: var(--text-button);
  background: var(--color-primary);
  color: var(--color-white);

  &:hover {
    background: var(--color-wine);
  }
  &:focus {
    outline: 0;
    border-color: var(--color-lavendar);
    background: var(--color-wine);
  }
}

.btn-secondary {
  border-radius: 1.875em;
  border: 3px solid transparent;
  padding: 10px 34px 12px 34px;
  font-size: var(--text-button);
  background: var(--color-purple-drk);
  color: var(--color-white);

  &:hover {
    color: var(--color-aqua);
    background: var(--color-midnight);
  }
  &:focus {
    outline: 0;
    border-color: var(--color-lavendar);
    background: var(--color-midnight);
  }
}

.btn-outline {
  border-radius: 1.875em;
  border: 3px solid transparent;
  padding: 10px 34px 12px 34px;
  font-size: var(--text-button);
  background: transparent;
  border-color: var(--color-aqua);
  color: var(--color-aqua);

  &:hover {
    background: var(--color-teal-drk);
  }
  &:focus {
    outline: 0;
    border-color: var(--color-purple-lt);
    background: var(--color-teal-drk);
  }
}

.gradient-text {
  background: linear-gradient(90deg, #97e1e5 0.01%, #d9caf8 89.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.glow-blur {
  box-shadow: 0px 0px 16px 6px rgba(151, 225, 229, 0.12);
  backdrop-filter: blur(15px);
}
img {
  border-radius: 1.25rem;
}

.gradient-light {
  background: linear-gradient(90deg, #97e1e5 0.01%, #d9caf8 89.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradient-dark-bg {
  background: linear-gradient(
    90deg,
    rgba(99, 178, 185, 0.7) 0%,
    rgba(0, 96, 117, 0.7) 100%
  );
}
