@import "tailwindcss";

@theme {
  /* Font Families */
  --font-title: "stolzl", sans-serif;
  --font-body: "polymath", sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 400px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 905px;
  --breakpoint-lg: 1240px;
  --breakpoint-xl: 1440px;

  /* Colours */
  --color-midnight: #0f002e;
  --color-teal: #006075;
  --color-teal-md: #009daa;
  --color-teal-muted: #63b2b9;
  --color-teal-drk: #006075;
  --color-aqua: #97e1e5;
  --color-lavendar: #c0a2ff;
  --color-purple-drk: #1e0073;
  --color-purple-lt: #caccf8;
  --color-red: #d70449;
  --color-wine: #940050;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-blue: #ddf5f7;
  --color-navy: rgba(0, 96, 117, 0.4);
  --color-primary: var(--color-red);
  --color-secondary: var(--color-purple-drk);

  /* Font Size */
  --text-base: 1.25rem;
  --text-h1-home: 5.375rem;
  --text-h1: 3.5rem;
  --text-h1-mobile: 2.5rem;
  --text-h2-mobile: 1.875rem;
  --text-h2: 2.875rem;
  --text-h3: 1.5rem;
  --text-h3-mobile: 1.375rem;
  --text-h4: 1.625rem;
  --text-label: 1.375rem;
  --text-bodyLarge: 1.375rem;
  --text-tagline: 1.875rem;
  --text-sm: 1rem;
  --text-button: 1.125rem;

  /* Font Weight */
  --font-weight-normal: 300;
  --font-weight-light: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extraBold: 700;
}

@layer base {
  /* Base */
  body {
    font-family: var(--font-body);
    color: var(--color-white);
    background-color: var(--color-midnight) !important;
    font-size: var(--text-base);
  }

  body.bg-primary {
    background-image: url("/background-primary.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-teal-drk);
  }

  body.bg-secondary {
    background-image: url("/background-secondary.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-title);
  }
  h1 {
    font-size: var(--text-h1-mobile);
    font-weight: var(--font-weight-extraBold);
    line-height: 1.2;
  }
  h2 {
    font-size: var(--text-h2-mobile);
    font-weight: var(--font-weight-extraBold);
    line-height: 1.2;
  }

  h3 {
    font-size: var(--text-h3-mobile);
    font-weight: var(--font-weight-medium);
  }

  @media (min-width: 600px) {
    h1 {
      font-size: var(--text-h1);
    }
    h2 {
      font-size: var(--text-h2);
    }
    h3 {
      font-size: var(--text-h3);
      font-weight: var(--font-weight-medium);
    }
  }
}

h4 {
  font-size: var(--text-h4);
  font-weight: var(--font-weight-bold);
}
ul,
ol {
  display: block;
  list-style: disc outside none;
  margin: 1em 0;
  padding: 0 0 0 40px;
  text-align: start;
}
ol {
  list-style-type: decimal;
  text-align: start;
}
a {
  &:hover {
    color: var(--color-aqua);
  }
}

@layer components {
  /* Components */

  .text-content {
    h1 {
      background: var(
        --Light-Gradient,
        linear-gradient(90deg, #97e1e5 0.01%, #d9caf8 89.82%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h2 {
      color: var(--color-purple-lt);
      margin-bottom: 0.5em;
    }
    h3:not(:first-child),
    h2:not(:first-child) {
      margin-top: 1em;
    }
    h3 {
      background: var(
        --Light-Gradient,
        linear-gradient(90deg, #97e1e5 0.01%, #d9caf8 89.82%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
    a {
      text-decoration: underline;
      color: var(--color-aqua);
    }
    p {
      margin-bottom: 1.25em;
      max-width: 900px;
      margin: 0 auto;
      letter-spacing: 0.1px;
    }

    ol {
      list-style: none;
      counter-reset: num;
      text-align: start;
      padding: 0;
      margin: 0 0 1.5em 0;
    }
    ol li {
      counter-increment: num;
      font-weight: var(--font-weight-normal);
      list-style: none;
      &::before {
        vertical-align: center;
        content: counter(num) ". ";
        padding-left: 0.25em;
        font-size: 2.2em;
        font-family: var(--font-title);
        font-weight: 700;
        text-shadow: 0px 0px 22px rgba(99, 178, 185, 0.28);
        background: linear-gradient(
          66deg,
          rgba(99, 178, 185, 0.5) 4.86%,
          rgba(93, 16, 255, 0.5) 84.35%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        backdrop-filter: blur(15px);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--Light-Purple, #caccf8);
      }
      &::after {
        margin-top: 0.75em;
        margin-bottom: 0.5em;
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: linear-gradient(
          90deg,
          rgba(151, 225, 229, 0.6) 0.01%,
          rgba(217, 202, 248, 0.6) 89.82%
        );
      }
    }
    .text-content ol > li {
      counter-increment: num;
      list-style: none;
    }

    .text-content ol > li::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 0.75em;
      margin-bottom: 0.5em;
      background: linear-gradient(
        90deg,
        rgba(151, 225, 229, 0.6) 0.01%,
        rgba(217, 202, 248, 0.6) 89.82%
      );
    }

    .text-content ul,
    .text-content ul li {
      counter-reset: none;
      counter-increment: none;
      list-style-type: disc;
      margin-bottom: 1rem;
    }

    .text-content ul li::before,
    .text-content ul li::after {
      content: none;
    }
  }

  .underline {
    text-decoration: underline;
    text-underline-offset: 0.4px;
  }

  .btn {
    border-radius: 1.875em;
    border: 3px solid transparent;
    padding: 10px 10px 12px 10px;
    font-size: var(--text-button);
    text-align: center;
  }

  .btn-primary {
    border-radius: 1.875em;
    border: 3px solid transparent;
    padding: 10px 34px 12px 34px;
    font-size: var(--text-button);
    background: var(--color-primary);
    color: var(--color-white);

    &:hover {
      background: var(--color-wine);
    }
    &:focus {
      outline: 0;
      border-color: var(--color-lavendar);
      background: var(--color-wine);
    }
  }

  .btn-secondary {
    border-radius: 1.875em;
    border: 3px solid transparent;
    padding: 10px 34px 12px 34px;
    font-size: var(--text-button);
    background: var(--color-purple-drk);
    color: var(--color-white);

    &:hover {
      color: var(--color-aqua);
      background: var(--color-midnight);
    }
    &:focus {
      outline: 0;
      border-color: var(--color-lavendar);
      background: var(--color-midnight);
    }
  }

  .btn-outline {
    border-radius: 1.875em;
    border: 3px solid transparent;
    padding: 10px 34px 12px 34px;
    font-size: var(--text-button);
    background: transparent;
    border-color: var(--color-aqua);
    color: var(--color-aqua);

    &:hover {
      background: var(--color-teal-drk);
    }
    &:focus {
      outline: 0;
      border-color: var(--color-purple-lt);
      background: var(--color-teal-drk);
    }
  }

  .nav-link {
  }

  .gradient-text {
    background: linear-gradient(90deg, #97e1e5 0.01%, #d9caf8 89.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .glow-blur {
    box-shadow: 0px 0px 16px 6px rgba(151, 225, 229, 0.12);
    backdrop-filter: blur(15px);
  }
  img {
    border-radius: 1.25rem;
  }

  .general-card-image img,
  img.general-card-image {
    border-radius: 1.25rem 1.25rem 0 0 !important;
  }

  .team-card img {
    border-radius: 0;
  }

  .gradient-light {
    background: linear-gradient(90deg, #97e1e5 0.01%, #d9caf8 89.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .gradient-header {
    background: rgba(151, 225, 229, 0.04);
  }

  .gradient-dark-bg {
    background: linear-gradient(
      90deg,
      rgba(99, 178, 185, 0.7) 0%,
      rgba(0, 96, 117, 0.7) 100%
    );
  }

  .gradient-border {
    background-image: linear-gradient(to right, #97e1e5, #d9caf8);
  }

  .card-bg-gradient {
    background: linear-gradient(
      66deg,
      rgba(53, 006075 252, 255, 0.36) 4.86%,
      rgba(81, 58, 145, 0.36) 84.35%
    );
  }

  iframe {
    width: 100%;
    height: 250px;
    @media screen and (min-width: 768px) {
      height: 450px;
    }
  }

  .gradient-bottom-border {
    border-bottom: 1px solid transparent;
    background-image: linear-gradient(to right, #97e1e5, #d9caf8);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: bottom left;
    background-origin: border-box;
  }

  .gradient-card-bg {
    background: linear-gradient(
      66deg,
      rgba(53, 252, 255, 0.36) 4.86%,
      rgba(81, 58, 145, 0.36) 84.35%
    );
  }

  .selected-tab-style {
    border-radius: 20px;
    border-top: 1px solid #97e1e5;
    border-bottom: 1px solid #97e1e5;
    background: rgba(0, 96, 117, 0.4);
    box-shadow: 0px 0px 16px 6px rgba(151, 225, 229, 0.12);
    backdrop-filter: blur(15px);
  }

  [role="tabpanel"]:focus-visible {
    outline: 2px solid var(--color-red);
    outline-offset: 3px;
    border-radius: 10px;
  }

  .footer-links {
    a {
      font-size: 1.125rem;
      text-decoration: underline;
    }
  }

  .social-links {
    a {
      font-size: 1.125rem;
      font-weight: 400;
    }
  }

  .logo {
    img {
      border-radius: 0;
    }
  }

  .tabbed-carousel .react-multi-carousel-item {
    align-content: flex-start;
    justify-content: start;
  }

  .tabbed-carousel .react-multi-carousel-list {
    overflow: visible !important;
  }

  .tabbed-carousel .react-multi-carousel-item {
    height: auto !important;
    display: flex !important;
    margin: 0 !important;
  }
}
